/*
* CSS for global element item
*/
.card-section {
    margin: 0 auto;
    border-radius: 10px;
    background-color: #EEf3ff;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.float-right {
    float: right;
}
.error {
    color: red;
    padding-bottom: 5px;
}
.text-bold {
    font-weight: bold;
}
.clear-fix {
    height: 50px;
}
.table-header tr td{
    background-color: #EEf3ff;
}
.table-header tr td:hover {
    cursor: pointer;
}
.hide {
    visibility: hidden;
}
.margin-top--15 {
    margin-top: -15px;
}
.box-total {
    border-radius: 10px;
    color: white;
    width: 23%;
    margin-left: 1.5%;
}
.txt-choose-month {
    width: 250px;
}
.table thead td {
    background-color: #EEf3ff;
}

/*
* CSS for specical element item
*/
#login_box {
    margin: 10% auto;
    vertical-align: middle;
    align-items: center;
    padding-bottom: 70px;
}
#header {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #99A2AD;
}
#section-create-receipt {
    margin: 0 auto;
    padding-bottom: 75px;
    margin-bottom: 50px;
}
/*Xu ly cho phan Admin*/
#main {
    padding: 0;
    margin: 0;
}
#sidebar {
    background: #3d3d3d;
    color: white;
    min-height: 100vh;
}
#logo {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #99A2AD;
}
#logo:hover {
    cursor: pointer;
    color: #99A2AD;
}
#sidebar #menu {
    margin-top: 25 px;
    padding-bottom: 25px;
}
#sidebar #menu ul {
    margin: 0;
    padding: 0;
}
#sidebar #menu ul li {
    list-style: none;
    padding: 20px 10px 20px 50px ; /*Top right bottom left*/
}
#sidebar #menu ul li:hover {
    background-color: #1e1e1e; 
    cursor: pointer;
}
#sidebar #menu ul li a {
    color: white;
    text-decoration: none;         /*Remove under line*/
}
#header {
    background-color: #EEf3ff;
    height: 50px;
}
#header-left {
    text-align: left;
}
#header-left a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}
#header #logout a {
    float: right;
    padding-left: 25px;
    color: black;
    text-decoration: none;
}
#total {
    margin-top: 25px;
    margin-bottom: 25px;
}
#order-shipping {
    background-color: #0D6EFD;
}
#order-in-stock {
    background-color: #1CBE07;
}
#order-out-stock {
    background-color: #EBBD27;
}
#order-profit {
    background-color: #FF0000;
}
#create_storage_box {
    margin: 0 auto;
    margin-top: 50px;
}
#create_employee_box {
    margin: 10% auto;
    
}
#receipt_detail_box {
    
}